In [15]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
#print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

## Ground-Truthing Local Weather Data
As a preliminary step toward participation in [Project GROW](https://growobservatory.org/), this is to test two elements of the mix that will be critical to our success, namely:

- Data logs from the FlowerPower soil sensor; and
- Weather reports from our nearest weather station.

First, let's take a look at representative data from these two sources, heads and tails, to see if we've caught a good month of overlapping records:

In [16]:
#df_s=pd.read_csv('../input/soil-sensor-test/Flower power 6A22.csv')
df_s=pd.read_csv('Flower power 6A22.csv',parse_dates=["capture_datetime_utc"], index_col="capture_datetime_utc")
df_w=pd.read_csv('portimao_hist_meteoclean.csv')

In [17]:
df_s.head()

,fertilizer_level,light,soil_moisture_percent,air_temperature_celsius
capture_datetime_utc,,,,
2018-08-22 15:31:15,-1.0,18.36,9.98,34.23
2018-08-22 15:46:15,-1.0,17.51,9.46,34.01
2018-08-22 16:01:15,-1.0,22.54,9.59,33.96
2018-08-22 16:16:15,-1.0,23.15,9.59,33.92
2018-08-22 16:31:15,-1.0,21.69,9.33,34.50

In [18]:
df_s.tail()

,fertilizer_level,light,soil_moisture_percent,air_temperature_celsius
capture_datetime_utc,,,,
2018-08-27 06:00:57,-1.0,0.14,3.51,21.17
2018-08-27 06:15:57,-1.0,0.38,3.29,21.36
2018-08-27 06:30:57,-1.0,0.63,3.63,21.50
2018-08-27 06:45:57,-1.0,0.35,3.40,22.16
2018-08-27 07:00:57,-1.0,2.97,3.74,19.57

In [19]:
df_w.head()

,Year,Month,Day,Hour,Minute,Temperature [2 m above gnd],Relative Humidity [2 m above gnd],Mean Sea Level Pressure [MSL],Total Precipitation [sfc],Snowfall amount raw [sfc],...,Low Cloud Cover [low cld lay],Sunshine Duration [sfc],Shortwave Radiation [sfc],Wind Speed [10 m above gnd],Wind Direction [10 m above gnd],Wind Speed [80 m above gnd],Wind Direction [80 m above gnd],Wind Speed [900 mb],Wind Direction [900 mb],Wind Gust [sfc]
0,2018,6,14,0,0,14.66,81.0,1017.4,0.0,0.0,...,0.0,0.0,0.0,17.31,3.58,21.63,2.86,3.32,77.47,14.04
1,2018,6,14,1,0,14.53,80.0,1017.7,0.0,0.0,...,0.0,0.0,0.0,14.21,8.75,27.24,7.59,0.80,26.57,13.68
2,2018,6,14,2,0,13.86,80.0,1016.6,0.0,0.0,...,0.0,0.0,0.0,11.09,13.13,24.37,12.80,1.61,333.43,10.08
3,2018,6,14,3,0,13.54,81.0,1016.4,0.0,0.0,...,0.0,0.0,0.0,11.04,19.03,23.80,17.61,2.60,326.31,9.00
4,2018,6,14,4,0,12.24,88.0,1016.3,0.0,0.0,...,0.0,0.0,0.0,11.84,19.54,26.18,18.43,3.56,315.00,7.56

In [20]:
df_w.tail()

,Year,Month,Day,Hour,Minute,Temperature [2 m above gnd],Relative Humidity [2 m above gnd],Mean Sea Level Pressure [MSL],Total Precipitation [sfc],Snowfall amount raw [sfc],...,Low Cloud Cover [low cld lay],Sunshine Duration [sfc],Shortwave Radiation [sfc],Wind Speed [10 m above gnd],Wind Direction [10 m above gnd],Wind Speed [80 m above gnd],Wind Direction [80 m above gnd],Wind Speed [900 mb],Wind Direction [900 mb],Wind Gust [sfc]
1699,2018,8,23,19,0,31.27,27.0,1015.2,0.0,0.0,...,0.0,60.00,309.72,29.78,352.36,36.22,353.72,29.93,356.55,37.08
1700,2018,8,23,20,0,28.03,34.0,1015.6,0.0,0.0,...,0.0,18.03,118.37,26.73,355.36,34.61,357.02,33.84,360.00,41.76
1701,2018,8,23,21,0,25.90,37.0,1016.0,0.0,0.0,...,0.0,0.00,1.78,25.92,360.00,34.92,0.59,34.95,2.36,31.32
1702,2018,8,23,22,0,25.66,36.0,1016.3,0.0,0.0,...,0.0,0.00,0.00,25.22,2.45,33.93,4.26,34.65,4.17,20.16
1703,2018,8,23,23,0,25.39,37.0,1016.7,0.0,0.0,...,0.0,0.00,0.00,23.54,6.15,32.69,7.59,31.35,2.63,35.28

Great: the soil sensor data covers period from June 18 to July 18, and the weather data overlaps that period at both ends, so it looks like we've got a reasonable basis for comparison across these two data sets.

Thing is: the weather data has been recorded ever hour on the hour, while soil sensor data is recorded at 15 minute intervals that don't appear to fall exactly on the hourly moment... So to achieve alignment of this time-series data, we must munge the soil sensor records a bit to get a (reduced) set of records that aligns in terms of time with these hourly weather records.

In [21]:
# To match df_w, We downsample df_s from 15 minute intervals to hourly frequency, aggregated using mean
df_s_w = df_s.resample('H').mean()
print(df_s.shape)
print(df_s_w.shape)

(447, 4)
(113, 4)

In [22]:
df_s_w.head()

,fertilizer_level,light,soil_moisture_percent,air_temperature_celsius
capture_datetime_utc,,,,
2018-08-22 15:00:00,-1.0,17.9350,9.7200,34.1200
2018-08-22 16:00:00,-1.0,18.8325,8.0350,33.7050
2018-08-22 17:00:00,-1.0,6.2600,4.1125,29.8450
2018-08-22 18:00:00,-1.0,2.9625,4.0525,27.3675
2018-08-22 19:00:00,-1.0,0.3825,4.1425,25.5500

Great: we've got the soil sensor data at hourly intervals, so we can match it to the weather data... Once we concatenate the related columns in weather df into a single datetime index.

In [23]:
# Now we create a datetime index composed of the 1st 5 columns (integers), concatenated
df_w.index = pd.to_datetime(df_w[['Year', 'Month', 'Day', 'Hour', 'Minute']])
df_w.head()

,Year,Month,Day,Hour,Minute,Temperature [2 m above gnd],Relative Humidity [2 m above gnd],Mean Sea Level Pressure [MSL],Total Precipitation [sfc],Snowfall amount raw [sfc],...,Low Cloud Cover [low cld lay],Sunshine Duration [sfc],Shortwave Radiation [sfc],Wind Speed [10 m above gnd],Wind Direction [10 m above gnd],Wind Speed [80 m above gnd],Wind Direction [80 m above gnd],Wind Speed [900 mb],Wind Direction [900 mb],Wind Gust [sfc]
2018-06-14 00:00:00,2018,6,14,0,0,14.66,81.0,1017.4,0.0,0.0,...,0.0,0.0,0.0,17.31,3.58,21.63,2.86,3.32,77.47,14.04
2018-06-14 01:00:00,2018,6,14,1,0,14.53,80.0,1017.7,0.0,0.0,...,0.0,0.0,0.0,14.21,8.75,27.24,7.59,0.80,26.57,13.68
2018-06-14 02:00:00,2018,6,14,2,0,13.86,80.0,1016.6,0.0,0.0,...,0.0,0.0,0.0,11.09,13.13,24.37,12.80,1.61,333.43,10.08
2018-06-14 03:00:00,2018,6,14,3,0,13.54,81.0,1016.4,0.0,0.0,...,0.0,0.0,0.0,11.04,19.03,23.80,17.61,2.60,326.31,9.00
2018-06-14 04:00:00,2018,6,14,4,0,12.24,88.0,1016.3,0.0,0.0,...,0.0,0.0,0.0,11.84,19.54,26.18,18.43,3.56,315.00,7.56

Now,  we can simplify the weather dataframe  in both dimensions, i.e.: 
- drop all extraneous columns; and
- filter rows to match the 1-month range of dates in df_s (df_w both starts earlier and ends later).

In [24]:
df_w.drop(['Year','Month','Day','Hour','Minute','Snowfall amount raw  [sfc]','High Cloud Cover  [high cld lay]','Medium Cloud Cover  [mid cld lay]','Low Cloud Cover  [low cld lay]','Shortwave Radiation  [sfc]','Wind Speed  [80 m above gnd]','Wind Direction  [80 m above gnd]','Wind Speed  [900 mb]','Wind Direction  [900 mb]','Wind Gust  [sfc]'], axis = 1, inplace=True)
df_w.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1704 entries, 2018-06-14 00:00:00 to 2018-08-23 23:00:00
Data columns (total 8 columns):
Temperature  [2 m above gnd]          1704 non-null float64
Relative Humidity  [2 m above gnd]    1704 non-null float64
Mean Sea Level Pressure  [MSL]        1704 non-null float64
Total Precipitation  [sfc]            1704 non-null float64
Total Cloud Cover  [sfc]              1704 non-null float64
Sunshine Duration  [sfc]              1704 non-null float64
Wind Speed  [10 m above gnd]          1704 non-null float64
Wind Direction  [10 m above gnd]      1704 non-null float64
dtypes: float64(8)
memory usage: 119.8 KB

In [25]:
df_w_s = df_w.loc['2018-06-18 19:00:00':'2018-07-18 15:18:29']
df_w_s.shape

(717, 8)

In [26]:
print("soil sensor data:")
print(df_s_w.info())
print("")
print("weather data:")
print(df_w_s.info())

soil sensor data:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 113 entries, 2018-08-22 15:00:00 to 2018-08-27 07:00:00
Freq: H
Data columns (total 4 columns):
fertilizer_level           113 non-null float64
light                      113 non-null float64
soil_moisture_percent      113 non-null float64
air_temperature_celsius    113 non-null float64
dtypes: float64(4)
memory usage: 4.4 KB
None

weather data:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 717 entries, 2018-06-18 19:00:00 to 2018-07-18 15:00:00
Data columns (total 8 columns):
Temperature  [2 m above gnd]          717 non-null float64
Relative Humidity  [2 m above gnd]    717 non-null float64
Mean Sea Level Pressure  [MSL]        717 non-null float64
Total Precipitation  [sfc]            717 non-null float64
Total Cloud Cover  [sfc]              717 non-null float64
Sunshine Duration  [sfc]              717 non-null float64
Wind Speed  [10 m above gnd]          717 non-null float64
Wind Direction  [10 m above gnd]      717 non-null float64
dtypes: float64(8)
memory usage: 50.4 KB
None

In [28]:
#test_merge = pd.merge(df_s_w, df_w_s, on=index)
test_merge = pd.merge(df_s_w, df_w_s, on=index)
test_merge.head()

NameError: name 'index' is not defined