In [1]:
import os
import glob
import pandas as pd
#%matplotlib inline

In [8]:
path = ''

all_files = glob.glob(os.path.join(path, "*.csv")) 

names = [os.path.basename(x) for x in glob.glob(path+'\*.csv')] 

df = pd.DataFrame()
for file_ in all_files:
    file_df = pd.read_csv(file_, sep=',', parse_dates=["capture_datetime_utc"], index_col="capture_datetime_utc")
    file_df['file_name'] = file_ 
    df = df.append(file_df)
inplace=True

In [9]:
df.head()

,fertilizer_level,light,soil_moisture_percent,air_temperature_celsius,file_name
capture_datetime_utc,,,,,
2018-07-30 17:34:33,-1.0,1.28,12.13,26.42,Flower power 5991.csv
2018-07-30 17:49:33,-1.0,1.26,11.87,26.51,Flower power 5991.csv
2018-07-30 18:04:33,-1.0,1.26,11.47,26.37,Flower power 5991.csv
2018-07-30 18:19:33,-1.0,1.17,12.00,26.28,Flower power 5991.csv
2018-07-30 18:34:33,-1.0,0.94,11.47,25.34,Flower power 5991.csv

In [10]:
df.tail()

,fertilizer_level,light,soil_moisture_percent,air_temperature_celsius,file_name
capture_datetime_utc,,,,,
2018-08-28 07:50:23,-1.0,40.73,6.53,31.82,Flower power 9417.csv
2018-08-28 08:05:23,-1.0,47.13,6.65,33.65,Flower power 9417.csv
2018-08-28 08:20:23,-1.0,51.94,6.65,35.00,Flower power 9417.csv
2018-08-28 08:35:23,-1.0,57.46,6.65,36.55,Flower power 9417.csv
2018-08-28 08:50:23,-1.0,14.17,6.77,32.98,Flower power 9417.csv

In [11]:
df.shape

(8372, 5)

In [12]:
# To match weather data periodicity, We downsample df from 15 minute intervals to hourly frequency, aggregated using mean
df_h = df.resample('H').mean()
print(df_h.shape)

(712, 4)

In [13]:
df_h.head()

,fertilizer_level,light,soil_moisture_percent,air_temperature_celsius
capture_datetime_utc,,,,
2018-07-30 17:00:00,-1.0,27.216667,10.793333,31.073333
2018-07-30 18:00:00,-1.0,10.272500,10.735833,26.864167
2018-07-30 19:00:00,-1.0,0.769167,10.617500,23.590833
2018-07-30 20:00:00,-1.0,0.100000,10.695833,22.535000
2018-07-30 21:00:00,-1.0,0.100000,10.612500,22.110000

## Problems; next steps
Two surprises here, namely:
1. rows: reduced by a factor of, not 4 as i expected, but... 12?
2. columns: looks like we lost one (or: the last script took effect on the sensor data model, without filename appendage)

Re 1: ah... Makes sense, when you consider that there are now not just 4 timestamps per hour, but 4x3(files)!

And re 2:  i've tried inserting "inplace=True" everywhere, but it has no effect